.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.container {
    width: 55vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
    background-color: black;
}

.img {
    width: 100%;
}

.btn_move_left {
    position: absolute;
    top: 50%;
    left: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    z-index: 104;
    cursor: pointer;
    margin-left: 10px;
}

.btn_move_right {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    z-index: 104;
    cursor: pointer;
    margin-right: 10px;
}

.group_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 12px;
    position: absolute;
    bottom: 5%;
    left: 0;
    z-index: 50;
}

.select {
    height: 3px;
    width: 10%;
    background-color: white;
    margin: 0;
    padding: 0;
}

.noselect {
    height: 3px;
    width: 10%;
    background-color: grey;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
    width: 25vw;
    height: 64vh;
    padding: 3vh;
    background-color: white;
}

@media screen and (max-width: 1370px) {
    .info {
        width: 35vw;
    }
}

@media screen and (max-width: 400px) {
    .overlay {
        flex-direction: column;
    }
    .container {
        margin-top: 20%;
        width: 90%;
        height: 35%;
    }
    .group_btns{
        bottom: 5px;
    }
    .close {
        right: 20px;
    }
    .info {
        font-size: 0.7rem;
        width: 70%;
        padding: 5% 10% 3% 10%;
        height: 60%;
        justify-content: flex-start;
        margin-bottom: 5%;
    }
}

