.container_light {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-image: url("../../img/about_light.png");
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.container_dark {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-image: url("../../img/about_dark.png");
    background-color: #120907;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.info {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60vh;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title_light {
    width: 30vw;
    font-size: 3rem;
    color: #212543;
    text-align: center;
}
.text_light {
    padding: 0;
    margin: 0;
    width: 20vw;
    text-align: center;
    color: #526588;
}

.title_dark {
    width: 25vw;
    font-size: 3rem;
    color: #b8cbed;
    text-align: center;
}
.text_dark {
    padding: 0;
    margin: 0;
    width: 20vw;
    text-align: center;
    color: #828fcb;
}

.img_light {
    width: 20vw;
    height: 40vh;
}
.img_dark {
    width: 20vw;
    height: 40vh;
}

.carrousel {
    display: flex;
    width: 80vw;
    height: 20vh;
    color: white;
    background-color: brown;
    margin-bottom: 5vh;
}