.container {
    width: 100%;
    height: 100%;
    background-color: #BEDFE8;
    position: relative;
    left: 0;
    top: 0;
}

.btn_left {
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    color: white;
    background-image: url('../../img/left.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px 0;
    cursor: pointer;
    border: none;
}

.btn_left:hover {
    opacity: 1;
}

.btn_right {
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    color: white;
    background-image: url('../../img/right.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px;
    cursor: pointer;
    border: none;
}

.btn_right:hover {
    opacity: 1;
}

.btn_left_disable {
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
    color: white;
    background-image: url('../../img/left.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px 0;
    border: none;
}

.btn_right_disable {
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    color: white;
    background-image: url('../../img/right.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -5px;
    z-index: 1;
    border: none;
}

.figure {
    overflow: hidden;
    height: 18vh;
    margin: 5px;
    padding: 0;
    width: auto;
    display: block;
}

.img {
    height: 100%;
    opacity: 0.8;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.5);
    opacity: 1;
}

@media screen and (max-width: 400px){
    .figure {
        height: 9vh;
    }
}
