.container_spanish_dark {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../../img/home_spanish_dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #120907;
}

.container_spanish_light {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../../img/home_spanish_light.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: #E5E5E5;
}
.container_english_dark {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../../img/home_english_dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #120907;
}

.container_english_light {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("../../img/home_english_light.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: #E5E5E5;
}


.name_light {
    padding: 0;
    margin: 0;
    color: #212543;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 7rem;
    padding-left: 3vw;
}

.name_dark {
    padding: 0;
    margin: 0;
    color: #b8cbed;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 7rem;
    padding-left: 3vw;
}

.tittle_light {
    padding: 0;
    margin: 0;
    color: #526588;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed';
    padding-bottom: 10vh;
    padding-left: 3vw;
}

.tittle_dark {
    padding: 0;
    margin: 0;
    color: #828fcb;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed';
    padding-bottom: 10vh;
    padding-left: 3vw;
}