.navbar_light {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #060606;
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
    z-index: 100;
}

.navbar_dark {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #384873;
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
    z-index: 100;
}

.options_dark {
    display: flex;
    gap: 3vw;
    color: white;
    align-items: flex-end;
}

.options_light {
    display: flex;
    gap: 3vw;
    color: white;
    align-items: flex-end;
}

.buttonGroup_light {
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
    margin: 0;
    padding-bottom: 1px;
    margin-right: 20px;
    height: 15px;
}

.buttonGroup_dark {
    display: flex;
    align-items: center;
    align-self: flex-end;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
    margin: 0;
    padding-bottom: 1px;
    margin-right: 20px;
    height: 15px;
}

.select {
    width: 60px;
    font-size: 0.5rem;
    cursor: pointer;
}

.switchSpan {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.btns {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.CV_light {
    display: flex;
    width: 10vw;
    height: 5vh;
    background: #384873;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #384873;
    color: #060606;
}

.CV_light:hover {
    background: #060606;
    border: 2px solid #384873;
    color: #384873;
}

.CV_dark {
    display: flex;
    width: 10vw;
    height: 5vh;
    background: #b8cbed;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #b8cbed;
    color: #384873;
}

.CV_dark:hover {
    background: #384873;
    border: 2px solid #b8cbed;
    color: #b8cbed;
}
