.navbar_light {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #060606;
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
}

.navbar_dark {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #384873;
    font-family: 'Roboto Condensed', sans-serif;
    height: 5vh;
}

.navbar_dark::before {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: white;
    opacity: 30%;
    z-index: -1;
}

.options_dark {
    display: flex;
    gap: 3vw;
    color: white;
    align-items: flex-end;
}

.options_light {
    display: flex;
    gap: 3vw;
    color: white;
    align-items: flex-end;
}

.buttonGroup_light {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
    margin-right: 20px;
}

.buttonGroup_dark {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 5px;
    margin-right: 20px;
}

.select {
    width: 60px;
    font-size: 0.5rem;
    cursor: pointer;
}

.switchSpan {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.btns {
    cursor: pointer;
    margin: 0;
    padding: 0;
}